.close-btn {
  position: absolute;
  top: 13px;
  right: 15px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 2px;
    width: 20px;
    height: 2px;
    background-color: #c4c4c4;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    background-color: #f5f4f2;
    border-radius: 4px;
    width: 28px;
    height: 28px;
    top: 11px;
    right: 14px;

    &::before,
    &::after {
      background-color: #383736;
      right: 3px;
    }
  }

  &:active {
    background-color: #e7e4de;
  }
}
