.container-edge {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: $desktop-width) {
  .container-edge {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: $mobile-width) {
  .container-edge {
    padding-left: 8px;
    padding-right: 8px;
  }
}
