.flat__plan-link {
  display: block;
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  order: -1;
}

.flat h1 {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #383736;
}

.flat__description-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  margin-bottom: 9px;
  width: 64.7%;
}

.flat__description,
.flat__description-term {
  &:nth-of-type(-n + 2) {
    grid-column: 1 / 2;
  }

  &:nth-of-type(n + 3):nth-of-type(-n + 4) {
    grid-column: 2 / 3;
  }

  &:nth-of-type(n + 5) {
    grid-column: 3 / -1;
  }
}

.flat__description {
  margin: 0;
  margin-top: -2px;
  margin-bottom: 9px;
  font-weight: 500;
  color: #383736;

  &:nth-of-type(2n + 1) {
    grid-row: 2 / 3;
  }

  &:nth-of-type(2n) {
    grid-row: 4 / 5;
    margin-top: -5px;
  }
}

.flat__description-term {
  font-size: 12px;
  color: #989691;

  &:nth-of-type(2n + 1) {
    grid-row: 1 / 2;
  }
}

.flat__conditions {
  display: flex;
}

.flat__conditions-view,
.flat__conditions-bank {
  position: relative;
  margin: 0;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 36px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 22px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 45%;
    left: 13px;
  }
}

.flat__conditions-bank {
  color: #eb4b51;
  background-color: #faf0f0;

  &::before,
  &::after {
    width: 13px;
    height: 2px;
    background-color: #eb4b51;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.flat__conditions-view {
  margin-right: 17px;
  color: #64b851;
  background-color: #f2faf0;

  &::before,
  &::after {
    left: 17px;
    height: 2px;
    background-color: #64b851;
  }

  &::before {
    width: 12px;
    transform: rotate(-45deg);
  }

  &::after {
    top: 51%;
    left: 15px;
    width: 5px;
    transform: rotate(45deg);
  }
}

.flat__info {
  position: relative;
  min-width: 237px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -12.5%;
    width: 1px;
    height: 178px;
    background-color: #f0eeeb;
  }
}

.flat__info p {
  margin: 0;
}

.flat__info time {
  font-weight: 500;
  color: #2794db;
}

.flat__info span {
  font-weight: 500;
  color: #eb4b51;
}

.flat__info-title {
  color: #989691;
}

.flat__info .flat__info-cost {
  margin-bottom: 14px;
  max-width: 210px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #383736;

  &--another {
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #989691;
  }
}

.flat__info .flat__info-accept {
  display: block;
  padding-left: 27%;
  background-image: url("../../img/svg/icon-key.svg");
  background-repeat: no-repeat;
  background-position: 20% 50%;
}

@media (max-width: $desktop-width) {
  .flat__description-list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 7px;
    width: 87.6%;
  }

  .flat .flat__description,
  .flat .flat__description-term {
    &:nth-of-type(n + 5) {
      grid-column: 2 / 3;
    }

    &:nth-of-type(4) {
      grid-column: 1 / 2;
    }
  }

  .flat .flat__description {
    &:nth-of-type(4) {
      grid-row: 6 / 7;
    }

    &:nth-of-type(5) {
      grid-row: 4 / 5;
    }

    &:nth-of-type(6) {
      grid-row: 6 / 7;
    }
  }

  .flat .flat__description-term {
    &:nth-of-type(4) {
      grid-row: 5 / 6;
    }

    &:nth-of-type(5) {
      grid-row: 3 / 4;
    }

    &:nth-of-type(6) {
      grid-row: 5 / 6;
    }
  }

  .flat__conditions {
    flex-direction: column;
    align-items: flex-start;
  }

  .flat__conditions-view {
    margin-right: 17px;
    margin-bottom: 8px;
  }

  .flat__info {
    &::before {
      left: -12%;
      height: 266px;
    }
  }

  .flat__info .flat__info-cost {
    &--another {
      margin-bottom: 111px;
    }
  }

  .flat__info .flat__info-accept {
    width: 96%;
  }
}

@media (max-width: $tablet-width) {
  .flat__plan-link {
    margin-left: 22%;
  }

  .flat__description-list {
    width: 64%;
  }

  .flat__info {
    grid-column: 1 / -1;

    &::before {
      top: -26px;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }

  .flat__conditions {
    flex-direction: row;
  }

  .flat__info .flat__info-cost {
    &--another {
      margin-bottom: 24px;
    }
  }

  .flat__info .flat__info-accept {
    width: 100%;
    padding-left: 40.9%;
    background-position: 38.3% 50%;
  }
}

@media (max-width: $mobile-width) {
  .flat__plan-link {
    margin: 0 auto;
    margin-top: 2px;
  }

  .flat h1 {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
  }

  .flat__description-list {
    column-gap: 15px;
    margin-bottom: 6px;
    width: 100%;
  }

  .flat__conditions {
    flex-direction: column;
  }

  .flat__info {
    margin-top: -2px;
    margin-left: 2%;

    &::before {
      top: -20px;
    }
  }

  .flat__info .flat__info-cost {
    font-size: 20px;
    line-height: 28px;

    &--another {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .flat__info .flat__info-accept {
    width: 100%;
    padding-left: 26.9%;
    background-position: 20% 50%;
  }
}
