.modal {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
  height: 226px;
  background-color: #ffffff;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  &--flat {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 0.97fr;
    padding-top: 24px;
    padding-right: 2.5%;
    padding-bottom: 31px;
    padding-left: 5.9%;
  }
}
