@import "global/fonts.scss";
@import "global/global.scss";
@import "global/variables.scss";

@import "blocks/page.scss";

@import "blocks/page-body.scss";
@import "blocks/page-body.scss";
@import "blocks/modal.scss";
@import "blocks/flat.scss";
@import "blocks/container-grid.scss";
@import "blocks/container-edge.scss";
@import "blocks/container-background.scss";

@import "blocks/btn.scss";

